
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared styles */
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747
}
.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;

}
/* Nav styles */
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
.nav-title {
   font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul {
    display: flex;
    align-items: center;
   
}
/*header styles*/
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/*Banner styles*/
.banner {
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greeting {
    font-size: 45px;

    margin-bottom: 20px;
    font-weight: 600;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-profile-pic {
    width: 600px;

    border-radius: 10px;
}
/*About section styles*/
.secondary-bg {
    background-color: #FFF8F3;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-description {
    font-size: 18px;
    color: #757575;
    max-width: 600px;
    line-height: 1.6;
    margin-top: 20px;
}